<div class="page-header">
	<h1>Image Statistics </h1>
</div>
<div id="container">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active">
			<a data-toggle="tab" href="#image-by-category">By Category</a>
		</li>
		<li>
			<a data-toggle="tab" href="#image-by-viewed">By Viewed</a>
		</li>
		<li>
			<a data-toggle="tab" href="#image-by-downloads">By Downloads</a>
		</li>
		<li>
			<a data-toggle="tab" href="#image-by-shared">By Shared</a>
		</li>		
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="image-by-category">
			<canvas id="by-category-c" width="600" height="500" class="chart-c"></canvas>
			<table id="by-category-t" class="chart-data-t">
				<tr>
					<th>Category</th>
					<th>#Image</th>
				</tr>
				<% i = 0%>

				<% @categories.each do |category|%>
				<tr style="color:<%= COLOR[i]%> ">
					<td><%= category.title%></td>
					<td><%= category.images.size%></td>
				</tr>
				<% i = i + 1%>

				<% end%>
			</table>
		</div>
		<div class="tab-pane" id="image-by-viewed">
			<canvas id="by-viewed-c" width="600" height="500" class="chart-c"></canvas>
			<table id="by-viewed-t" class="chart-data-t">
				<tr>
					<th>Category</th>
					<th>#Viewed</th>
				</tr>
				<% i = 0%>

				<% @categories.each do |category|%>
				<tr style="color:<%= COLOR[i]%> ">
					<td><%= category.title%></td>
					<td><%= category.image_views.size%></td>
				</tr>
				<% i = i + 1%>

				<% end%>
			</table>
		</div>
		<div class="tab-pane" id="image-by-downloads">
			<canvas id="by-downloads-c" width="600" height="500" class="chart-c"></canvas>
			<table id="by-downloads-t" class="chart-data-t">
				<tr>
					<th>Category</th>
					<th>#Downloads</th>
				</tr>
				<% i = 0%>

				<% @categories.each do |category|%>
				<tr style="color:<%= COLOR[i]%> ">
					<td><%= category.title%></td>
					<td><%= category.image_downloads.size%></td>
				</tr>
				<% i = i + 1%>

				<% end%>
			</table>
		</div>
		<div class="tab-pane" id="image-by-shared">
			<canvas id="by-shared-c" width="600" height="500" class="chart-c"></canvas>
			<table id="by-shared-t" class="chart-data-t">
				<tr>
					<th>Category</th>
					<th>#Shared</th>
				</tr>
				<% i = 0%>

				<% @categories.each do |category|%>
				<tr style="color:<%= COLOR[i]%> ">
					<td><%= category.title%></td>
					<td><%= category.image_shares.size%></td>
				</tr>
				<% i = i + 1%>

				<% end%>
			</table>
		</div>
	</div>
</div>

<%= subscribe_to "/notifications/bycategory" %>
<%= subscribe_to "/notifications/byimageviewed" %>
<%= subscribe_to "/notifications/byimagedownloads" %>
<%= subscribe_to "/notifications/byimageshared" %>