<%- model_class = Image -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:picture) %>:</strong></dt>
  <dd><%=image_tag @image.picture.url(:medium,:download => true) %></dd> 
  <dt><strong><%= model_class.human_attribute_name(:picture_content_type) %>:</strong></dt>
  <dd><%= @image.picture_content_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:picture_file_size) %>:</strong></dt>
  <dd><%= @image.picture_file_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:picture_updated_at) %>:</strong></dt>
  <dd><%= @image.picture_updated_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:verified) %>:</strong></dt>
  <dd><%= @image.verified %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @image.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
  <dd><%= @image.tags %></dd>
</dl>

<div class="form-actions">
  <% if current_user.dropbox_token.blank? %>
  <%= link_to "Authorize Dropbox",authorize_users_path ,:class => 'btn btn-primary'   %>
  <% else %>
  <%= link_to "Download Dropbox",dropbox_download_users_path ,:class => 'btn btn-primary'   %>
  <% end %>
  
  <%= link_to "Upload to Facebook",new_facebook_upload_path, :class => 'btn btn-primary color-box-ajax'  %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              images_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_image_path(@image), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              image_path(@image),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
